name: Publish Docker image

on:
  push:
    branches:
      - master
      - develop
    tags:
    - 'v*.*.*'
  pull_request:
    branches:
      - master
      - develop

jobs:
  test:
    name: Run node 22 tests before building Docker image
    runs-on: ubuntu-latest
        
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Cache node_modules
      uses: actions/cache@v4
      id: npm-cache
      with:
        path: ./server/node_modules
        key: ${{ runner.os }}-node-22-${{ hashFiles('./server/package.json') }}
        restore-keys: |
          ${{ runner.os }}-node-22-
          ${{ runner.os }}-node-
          
    - name: Install dependencies
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm install
      working-directory: ./server
      
    - run: npm run test-text
      working-directory: ./server

  push_to_registry:
    name: Build Docker image and push it to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          install: true
        
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: pagermon/pagermon
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: server/Dockerfile
          context: ./server
          platforms: linux/amd64, linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max