name: Node.js testing


on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  Run_Tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['18.x', '20.x', '22.x', 'latest']
        
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node_modules
      uses: actions/cache@v4
      id: npm-cache
      with:
        path: ./server/node_modules
        key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('./server/package.json') }}
        restore-keys: |
          ${{ runner.os }}-node-${{ matrix.node-version }}-
          ${{ runner.os }}-node-
          
    - name: Install dependencies
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm install
      working-directory: ./server
      
    - run: npm run test-text
      working-directory: ./server
